requests
appdirs
progress
progressbar2
psutil
bs4
pytz
Pillow>=4.2.0
python-telegram-bot>=13.0,<14.0
google-api-python-client>=1.12.8,<2.0.0
google-auth-httplib2>=0.0.3,<0.1.0
google-auth-oauthlib>=0.4.1,<0.10.0
aria2p>=0.9.0,<0.15.0
python-dotenv>=0.10
tenacity>=6.0.0
js2py
python-magic
beautifulsoup4>=4.8.2,<4.8.10
Pyrogram>=1.1.13,<1.2.0
TgCrypto>=1.2.2,<2.0.0
youtube_dl
megasdkrestclient>=0.1.1,<1.0.0
feedparser
natsort
heroku3
aiohttp
psycopg2-binary
git+https://github.com/yt-dlp/yt-dlp
lxml
telegraph
speedtest-cli
messages
httplib2shim
html-telegraph-poster>=0.2.31
psycopg2-binary
